<template>
  <div 
    class="cours"
    :class="{ 
        section: type == 'section', 
        vectoriel: module == 'vectoriel', 
        bitmap: module == 'bitmap',
        edition: module == 'edition',
        disabled: isDisabled == true
    }"
    >
    <span class="date">{{ date }}</span>
    <h2>{{ title }}</h2>
    <div class="tags">
      <small class="module">{{ module }}</small>
      <small>{{ logiciel }}</small>
    </div>
    <div class="content">
      <a  data-fancybox="gallery" :href="'/cours/'+module+'/'+slug+'/'+thumb">
        <img :src="'/cours/'+module+'/'+slug+'/'+thumb"  />
      </a>
      <p>{{ extrait }}</p>
    </div>
    <div class="buttons">
        <nuxt-link :to="cours.path" v-if="cours.artistique">Voir les ressources</nuxt-link>
        <nuxt-link :to="cours.path" v-if="!cours.artistique">Cours</nuxt-link>
         <nuxt-link v-if="cours.exercice && !cours.artistique" :to="'/exercices/'+cours.exercice.slug">En pratique</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cours: {},
    title: '',
    thumb: '',
    slug: '',
    isCurrent: false,
    module: '',
    extrait: '',
    type: '',
    logiciel: '',
    exercice: {},
    isDisabled: false,
    date: '',
    artistique: false
  }
}
</script>