<template>
    <div class="content-gallery"
    :class="{ 
        col1: imggallery.length == 1,
        col2: imggallery.length == 2, 
        col3: imggallery.length == 3,
        col4: imggallery.length == 4
    }"
    >
        <figure v-for="(image, idx) in imggallery" :key="idx">
            <img :src="'/cours/'+imgsection+'/'+imgcours+'/'+image.path" :alt="image.caption" v-if="!image.absolute">
            <img :src="image.path" :alt="image.caption" v-else>
            <figcaption v-if="!image.absolute">
                <span>{{ image.caption }}</span>
                  <div class="img-actions">
                    <a :href="'/cours/'+imgsection+'/'+imgcours+'/'+image.path" download><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ff1e00"><path d="M5.667 16.229q-.792 0-1.334-.552-.541-.552-.541-1.323v-1.292h1.625v1.292q0 .084.083.167t.167.083h8.666q.084 0 .167-.083t.083-.167v-1.292h1.625v1.292q0 .771-.552 1.323-.552.552-1.323.552Zm4.354-3.396L5.792 8.604l1.166-1.125 2.25 2.25V2.5h1.625v7.229l2.25-2.25 1.167 1.125Z"/></svg></a>
                    <a :href="'/cours/'+imgsection+'/'+imgcours+'/'+image.path" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ff1e00"><path d="M4.625 17.25q-.771 0-1.323-.552-.552-.552-.552-1.323V4.625q0-.771.552-1.323.552-.552 1.323-.552h5.458v1.625H4.625q-.083 0-.167.083-.083.084-.083.167v10.75q0 .083.083.167.084.083.167.083h10.75q.083 0 .167-.083.083-.084.083-.167V9.917h1.625v5.458q0 .771-.552 1.323-.552.552-1.323.552Zm3.396-4.125-1.146-1.146 7.604-7.604h-2.083V2.75h4.854v4.854h-1.625V5.521Z"/></svg></a>
                  </div>
            </figcaption>
            <figcaption v-else>
              <span>{{ image.caption }}</span>
                <div class="img-actions">
                  <a :href="image.path" download><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ff1e00"><path d="M5.667 16.229q-.792 0-1.334-.552-.541-.552-.541-1.323v-1.292h1.625v1.292q0 .084.083.167t.167.083h8.666q.084 0 .167-.083t.083-.167v-1.292h1.625v1.292q0 .771-.552 1.323-.552.552-1.323.552Zm4.354-3.396L5.792 8.604l1.166-1.125 2.25 2.25V2.5h1.625v7.229l2.25-2.25 1.167 1.125Z"/></svg></a>
                  <a :href="image.path" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ff1e00"><path d="M4.625 17.25q-.771 0-1.323-.552-.552-.552-.552-1.323V4.625q0-.771.552-1.323.552-.552 1.323-.552h5.458v1.625H4.625q-.083 0-.167.083-.083.084-.083.167v10.75q0 .083.083.167.084.083.167.083h10.75q.083 0 .167-.083.083-.084.083-.167V9.917h1.625v5.458q0 .771-.552 1.323-.552.552-1.323.552Zm3.396-4.125-1.146-1.146 7.604-7.604h-2.083V2.75h4.854v4.854h-1.625V5.521Z"/></svg></a>
                </div>
          </figcaption>
        </figure>
    </div>
  </template>
  
  <script>
  export default {
    props: {
        imggallery: [],
        imgsection: '',
        imgcours:''
    }
  }
  </script>