<template>
<header class="page-header">
  <h1><nuxt-link to="/">arts numériques b1</nuxt-link></h1>
  <nav>
    <nuxt-link to="/">Cours</nuxt-link>
    <nuxt-link to="/pratique">Infos pratiques</nuxt-link>
    <a href="https://codep5.netlify.app/" target="_blank">Workshop Code</a>
    <a href="http://www.digitalab.be" target="_blank">Digitalab.be</a>
    <!-- <button class="theme-swap" @click="toggleTheme">
      <span class="material-icons theme-dark" v-if="!themeStatus">dark_mode</span>
      <span class="material-icons theme-light" v-if="themeStatus">wb_incandescent</span>
    </button>  -->
  </nav>
</header>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Header',
  computed: {
    ...mapGetters(['themeStatus'])
  },
  methods: {
    toggleTheme() {
      this.$store.commit("TOGGLE_THEME")
    }
  }
}
</script>
