<template>
  <section class="details">
    <aside>
      <div class="medias-wrapper" v-if="cours.medias">
        <h2>Medias</h2>
        <figure v-for="(media, idx) in cours.medias" :key="idx" :class="{w50: media.width == 50}">
          <span class="index">{{ idx+1 }}</span>
          <img v-if="media.absolute == true" :src="media.path" :alt="media.caption">
          <img v-else :src="'/cours/'+cours.module+'/'+cours.slug+'/'+media.path" :alt="media.caption">
          <figcaption>
            {{ media.caption }}<br/>
            <div  v-if="media.absolute == true" class="img-actions">
              <a :href="media.path" download><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ff1e00"><path d="M5.667 16.229q-.792 0-1.334-.552-.541-.552-.541-1.323v-1.292h1.625v1.292q0 .084.083.167t.167.083h8.666q.084 0 .167-.083t.083-.167v-1.292h1.625v1.292q0 .771-.552 1.323-.552.552-1.323.552Zm4.354-3.396L5.792 8.604l1.166-1.125 2.25 2.25V2.5h1.625v7.229l2.25-2.25 1.167 1.125Z"/></svg></a>
              <a :href="media.path" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ff1e00"><path d="M4.625 17.25q-.771 0-1.323-.552-.552-.552-.552-1.323V4.625q0-.771.552-1.323.552-.552 1.323-.552h5.458v1.625H4.625q-.083 0-.167.083-.083.084-.083.167v10.75q0 .083.083.167.084.083.167.083h10.75q.083 0 .167-.083.083-.084.083-.167V9.917h1.625v5.458q0 .771-.552 1.323-.552.552-1.323.552Zm3.396-4.125-1.146-1.146 7.604-7.604h-2.083V2.75h4.854v4.854h-1.625V5.521Z"/></svg></a>
            </div>
            <div v-else class="img-actions">
              <a :href="'/cours/'+cours.module+'/'+cours.slug+'/'+media.path" download><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ff1e00"><path d="M5.667 16.229q-.792 0-1.334-.552-.541-.552-.541-1.323v-1.292h1.625v1.292q0 .084.083.167t.167.083h8.666q.084 0 .167-.083t.083-.167v-1.292h1.625v1.292q0 .771-.552 1.323-.552.552-1.323.552Zm4.354-3.396L5.792 8.604l1.166-1.125 2.25 2.25V2.5h1.625v7.229l2.25-2.25 1.167 1.125Z"/></svg></a>
              <a :href="'/cours/'+cours.module+'/'+cours.slug+'/'+media.path" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ff1e00"><path d="M4.625 17.25q-.771 0-1.323-.552-.552-.552-.552-1.323V4.625q0-.771.552-1.323.552-.552 1.323-.552h5.458v1.625H4.625q-.083 0-.167.083-.083.084-.083.167v10.75q0 .083.083.167.084.083.167.083h10.75q.083 0 .167-.083.083-.084.083-.167V9.917h1.625v5.458q0 .771-.552 1.323-.552.552-1.323.552Zm3.396-4.125-1.146-1.146 7.604-7.604h-2.083V2.75h4.854v4.854h-1.625V5.521Z"/></svg></a>
            </div>
          </figcaption>
        </figure>
      </div>
    </aside>
    <main class="cours-content">
      <nav class="submenu">
        <nuxt-link class="back" to="/">Retour</nuxt-link>
        <span v-for="(les, itm) in listecours" :key="itm">
          <nuxt-link v-if="les.module == cours.module && les.type != 'section'" :to="les.slug">{{ les.title }}</nuxt-link>
        </span> 
      </nav>
      <h2 class="page-title" v-if="cours.type != 'section'">{{ cours.title }}<nuxt-link class="switch-link" :to="'/exercices/'+cours.exercice.slug" v-if="cours.exercice && !cours.artistique">En pratique</nuxt-link></h2>
      <nuxt-content :document="cours"/>
    </main>
  </section>
</template>

<script>
  export default {
      async asyncData({ $content, params }) {
        const listecours = await $content('cours').sortBy('ranking').fetch();
          const cours = await $content('cours', params.slug).fetch();
          return { listecours, cours }
      }
  }
</script>