* {
    box-sizing: border-box;
}
/* /////////////////////////////////////// */
/* PAGE ANIMATIONS */ 
/* /////////////////////////////////////// */

.page-enter-active {
    transition: opacity 0.15s ease-out;
    opacity: 1;
}

.page-leave-active {
    transition: opacity 0.15s ease-in;
    opacity: 1;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

@keyframes spectrum {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
  }

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    padding: var(--margX);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    
}
.wrapper {
    --bg: #f5f5f5;
    --text: #000000;
    --link: rgb(255, 30, 0);
    --bordercolor: #000000;
    --margX: 0;
    --margY: 0;
    --border: 1px;
    --side: 40vw;
    --paddcards: 1.5rem 2rem;
    --paddsections: 2rem 6rem 3rem 4rem;
    --bordertype: solid;
    --modulesColor: black;
    --vector: rgba(255, 0, 0, 1);
    --bitmap: rgba(0, 255, 0, 1);
    --edition: rgba(0, 0, 255, 1);
    background:var(--bg);
    width:100vw;
    min-height:100vh;
    color:var(--text);
    &.dark-theme {
        --bg: rgb(21, 21, 21);
        --text: #f1f1f1;
        --link: rgb(255, 61, 61);
        --bordercolor: #535353;
        
        a {
            color:var(--link);
            
        }
    }
}

.site-wrapper {
    width: calc(100vw - 2*var(--margX));
    width:100vw;
    display: grid;
    grid-template-areas:
        "header header header"
        ". intro intro"
        "modules modules modules"
        "sidebar main main"
        "footer footer footer";
    grid-template-columns: .25fr .5fr .25fr;
    grid-column-gap: var(--margX);
    grid-row-gap: var(--margY);
    overflow-x:hidden;
}

h1 {
    display:flex;
    align-items:center;
}
 a, mark {
    text-decoration:none;
    color:var(--link);
   /*  animation: spectrum 12s infinite;
    animation-direction: alternate; */
} 
ul {
    li {
        padding:2px 0;
    }
}
.title-nav {
    font-size:1rem;
    margin-bottom:.4rem;

}
.submenu {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
h2, a {
    display:inline-flex;
    padding:.25rem 0;
    margin:0 .75rem .75rem 0;
}
    a {
        
        color:black;
       // margin:0 1.3rem .75rem 0;
        font-size:.9rem;
        text-decoration:none;
        //padding:.25rem 0;
        border-bottom:2px solid transparent;
        &.nuxt-link-exact-active {
            color:red;
            border-bottom:2px solid red;
        }
    }
} 
.back {
    display:flex;
    align-items:center;
    
    &::before {
        margin-right:.5rem;
        content: "«";
        

    }
    &::after {
        margin-left:.5rem;
        content: "|";
    }
}
.arrow {
    border: solid var(--bordercolor);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
.details {
    width: calc(100vw - 2*var(--margX));
    display: grid;
    grid-template-areas:
        "header header "
        "side content "
        "side content "
        "side content "
        "footer footer ";
    grid-template-columns: var(--side) 1fr ;
    grid-column-gap: var(--margX);
    grid-row-gap: var(--margY);
    h2 {
        font-weight:400;
        &.page-title {
            font-weight:600;
            display:flex;
            justify-content: space-between;
            a.switch-link {
                font-size:1rem;
                font-weight:400;
                padding:.5rem .75rem;
                border:1px solid var(--text);
                color:var(--text);
                &:hover {
                    color:var(--link);
                }
            }
        }
    }
    img {
        max-width:100%;
       // border-radius:.2rem;
    }
    iframe {
        width:100%;
    }
    aside {
        position:relative;
        grid-area: side;
        border-right:1px solid var(--bordercolor); 
        h2 {
            font-weight:600;
        }
        .medias-wrapper {
            position:fixed;
            width:calc(var(--side) - 1px);
            padding: var(--paddsections);
            margin-top:6rem;
            top:0;
            bottom:0;
            right:0;
            left:0;
            overflow-y:scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
            figure {
                position:relative;
                margin:1rem 0;
                img {
                    width:100%;
                }
                .index {
                    position:absolute;
                    top:0;
                    right:0;
                    display:inline-flex;
                    justify-content: center;
                    align-items: center;
                    width:1.5rem;
                    height:1.5rem;
                    font-size:1rem;
                    font-weight:600;
                    background:black;
                    color:white;
                }
            }
            figcaption {
                font-size:.9rem;
                padding:.3rem 0 2rem;
            }
        }
    }
    hr {
        margin:2rem 0;
    }
    .cours-content {
        grid-area: content;
        padding: var(--paddsections);
    }
}
.page-header {
    position:sticky;
    top:0;
    z-index:3;
    background:var(--bg);
    border-bottom:1px solid var(--bordercolor);
    grid-area: header;
    padding: var(--paddcards);  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    h1 {
        font-size:1.8rem;
        font-weight:400;
        margin:0;
        a {
            color:var(--text) !important;
            &:hover {
                color:var(--link) !important;
            }
        }
    }
    nav {
        display:flex;
        align-items:center;
        justify-content: flex-end;
        grid-column: 2 / 4;
        a {
            display:inline-flex;
            padding:.5rem .75rem;
            font-size:1.2rem;
            text-decoration:none;
            color:var(--text) !important;
            &:hover {
                color:var(--link) !important;
            }
        }
    }
}
.messages {
   
    padding:2rem;
    color:red;
    font-size:1.3rem;
}
.intro {
    max-width:100%;
    padding:3rem 2rem 6rem 2rem;
    grid-area: intro;
    columns: 3;
    mark {
        background:none;
    }
}

.section-title,
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size: 2rem;
    background: var(--modulesColor);
    border: var(--border) var(--bordertype) var(--bordercolor);
    border-bottom:none;
    border-right:none;
}
.section {
    background-size:cover;
    background-position:center center;
    small,
    p,
    figure,
    .content,
    .buttons {
        display:none !important;
    }
    h2 {
        font-size: 2rem;
        a {
            color:white;
        }
        
    }
}
.cours-grid {
    grid-area: modules;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--margX);
    grid-row-gap: var(--margY);
    > article {
        display:flex;
    }
  /*   .exercicebox {
        padding:.5rem;
        background:rgb(0, 0, 0);
        color:white;
        writing-mode: vertical-rl;
        text-orientation: sideways;
    } */
    .cours {
        display:flex;
        flex-direction: column;
        background: var(--bg);
        padding: var(--paddcards);
        padding-bottom:1.5rem;
        border: var(--border) var(--bordertype) var(--bordercolor); 
        border-bottom:none;
        border-right:none;
        h2 {
            font-size: 1.3rem;
            font-weight:400;
            margin: 0;
            z-index:2;
        }
        .content {
            display:flex;
            padding:1rem 0;
            align-items:flex-start;
            flex-grow:1;
            img {
                margin-top:.2rem;
                width:5vw;
                margin-right:1rem;
            }
            p {
                margin:0;
                font-size:.9rem;
                
            }
        }
        
        small {
            &::before {
                content:"|";
                margin-right:5px;
            }
            &.module {
                &::before {
                    display:none;
                }
            }
        }
        .buttons {
            margin-top:.75rem;
            a {
                display:inline-flex;
                border:1px solid black;
                padding:.25rem .5rem;
                color:black;
                font-size:.9rem;
                margin: 0 .5rem .5rem 0;
                &:hover {
                    color:var(--link);
                    border:1px solid var(--link);
                }
            }
        }
        &.section {
            position:relative;
            h2 {
                color:white;
                font-size:1.5rem;
            }
            &::after {
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                content:"";
                //filter: blur(55px) grayscale(1);

                filter: blur(55px);

            }
            &:hover {
                &::after {
                 //   filter: blur(55px) grayscale(0);
                }
            }
            &.vectoriel {
               
                a {
                    color:white;
                }
              
                &::after {
                    top:-20px;
                    right:40px;
                    left:120px;
                    bottom:60px;
                    background:var(--vector);
                   
                }   
            }
            &.bitmap {
         
                
               
                a {
                    color:var(--text);
                }
                
                &::after {
                    top:100px;
                    bottom:60px;
                    right:20px;
                    background: var(--bitmap);
                }   
            }
            &.edition {
                
                &::after {
                    top:-10px;
                    bottom:80px;
                    left:140px;
                    right:-70px;
                    background:var(--edition);
                }
            }
        }
        &.vectoriel {
            .module {
                background:var(--vector);
                color:white;
            }
        }
        &.bitmap {
            h2 {
                a {
                   // color:blue !important;
                }
                
            }
            .module {
                background:var(--bitmap);
            }
        }
        &.edition {
            .module {
                background:var(--edition);
                color:white;
            }
        }
    }
}
