<template>
  <div class="wrapper" :class="themeStatus ? 'dark-theme' : 'light-theme'">
      <Header/>
      <Nuxt />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['themeStatus'])
  },
  methods: {
    toggleTheme() {
      this.$store.commit("TOGGLE_THEME")
    }
  }
  
}
</script>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
</style>