<template>
    <main class="site-wrapper">
      <section class="cours-grid articles-form">
        <article class="formitem" v-for="(item, index) in formdata.body" :key="index">
            <h2>{{formdata.body[index].nom}}</h2>
            <span>{{formdata.body[index].atelier}}</span>
            <div v-if="formdata.body[index].sujet">
                <h3>Le sujet</h3>
                {{formdata.body[index].sujet}}
            </div>
            <div v-if="formdata.body[index].keys">
                <h3>Mots-clés</h3>
                {{formdata.body[index].keys}}
            </div>
            <div v-if="formdata.body[index].texte">
                <h3>À propos des textes</h3>
                {{formdata.body[index].texte}}
            </div>
            <div v-if="formdata.body[index].images">
                <h3>À propos des images</h3>
                {{formdata.body[index].images}}
            </div>
            <div v-if="formdata.body[index].references">
                <h3>Références</h3>
                {{formdata.body[index].references}}
            </div>
        </article>
        
      </section>
    </main>
  </template>
  
  <script>
  import CoursBox from '../components/CoursBox.vue';
  export default {
      name: "IndexPage",
      async asyncData ({ $content }) {
      const formdata = await $content('formdata').sortBy('ranking').fetch();
        return {
            formdata
        }
      }
  }
  </script>