<template>
  <main class="site-wrapper">
   <!--  <section class="messages">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, in nobis dignissimos nihil quia provident deserunt, laboriosam mollitia sed temporibus expedita nam! Fugit amet harum repudiandae quam ab maxime possimus.</p>
    </section> -->
    <section class="intro">
    Le cours d'Arts numériques B1 vous introduira aux deux principaux types d'images numériques (les images vectorielles et les images matricielles) ainsi qu'à quelques bases de mise en page. Il est complémentaire aux plénières, qui mettront tout cela en perspective, et au workshop qui nous introduira à l'art du code.
    
    <mark>L'évaluation</mark> de ce cours et une évaluation continue. Outre une présence régulière, des <mark>exercices hebdomadaires</mark> vous seront demandés (chaque fois pour le cours suivant) ainsi que des <mark>travaux artistiques personnels</mark> à la fin de chaque module. Ils sont tous évalués. Les briefings et informations à propos des travaux aristiques seront disponibles sur digitalab.be la plateforme générale du CASO (lien en haut à droite).

Les <mark>rendus des exercices</mark> se font exclusivement via le Drive auquel vous avez accès via votre adresse de l'école. Un dossier personnel sera créé pour chaque étudiant.e. Ce dossier, partagé avec moi, sera l'espace où les différents travaux seront rendus. Aucun rendu, hors de ce dossier, ne sera évalué.

Nommez vos fichiers de façon explicite afin qu'ils ne s'égarent pas. (nom-prenom-atelier-nomdelexercice.svg, par exemple)

Dans tous les cas, vous êtes responsables de vos fichiers et devez toujours en <mark>garder une copie locale</mark>.
    </section>
    
    <section class="cours-grid">
      <article v-for="(cours, indx) in listecours" :key="indx">
        
          <CoursBox 
            :cours="cours"
            :title="cours.title"
            :slug="cours.slug"
            :thumb="cours.thumb" 
            :type="cours.type" 
            :module="cours.module" 
            :exercice="cours.exercice"
            :xr6="cours.xr6" 
            :logiciel="cours.logiciel" 
            :extrait="cours.extrait" 
            :isCurrent="cours.active"
            :isDisabled="cours.disabled"
            :date="cours.date"
            :artistique="cours.artistique"
          />
          <!-- <ExerciceBox v-if="cours.exercice"/> -->
        
      </article>
    </section>
  </main>
</template>

<script>
import CoursBox from '../components/CoursBox.vue';
export default {
    name: "IndexPage",
    components: { CoursBox },
    async asyncData ({ $content }) {
    const listecours = await $content('cours').sortBy('ranking').fetch();
    const pratique = await $content('pratique').fetch();
      return {
        listecours, pratique
      }
    }
}
</script>
<style lang="scss">

</style>