<template>
<section class="page-layout">
<nuxt-content :document="enpratique" />
</section>
</template>

<script>
export default {
    name: "Pratique",
    async asyncData ({ $content }) {
    const enpratique = await $content('pratique').sortBy('ranking').fetch();
      return {
        enpratique
      }
    }
}
</script>